$mainFontTitlesColor : #d5caca;
$mainFontColorHover: #cc734c;
$MainTextFontColor: black;
$aboutSectionBg: #af9380;
$contactBg: #928d8d;
$footerBg: #aea2a2;

/* the font-family variables */

$companyNameFont: 'Lobster', cursive, sans-serif, arial, helvetica, verdana;
$nav-TitlesFont: 'Montserrat', sans-serif, arial, helvetica, verdana;
$mainTextFont: 'Open Sans', sans-serif, arial, helvetica, verdana;