/* the navbar style */

.navbar {
    background: transparent !important;
    border: none;
    margin-top: 15px;
    margin-bottom: 180px;
    position: relative;
}


.navbar-header {
        float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1) !important;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $nav-TitlesFont !important;
    color: $mainFontTitlesColor !important;
    &:hover {
        background: transparent !important;
        color: $mainFontColorHover !important;
    }
}

.navbar-text {
    float: none;
    margin: 15px 0;
}

.navbar-collapse.collapse.in { 
    display: block!important;
}

.collapsing {
    overflow: hidden!important;
}

#brand {
    color: $mainFontColorHover;
    font-family: $companyNameFont !important;
    font-size: 30px;
    
    &:hover {
        color: $mainFontTitlesColor !important;
    }
}

#toggleIcon {
    border: none;
    
    &:focus {
        background: transparent !important;
    }
    &:hover {
        background: $mainFontColorHover !important;
    }
}

#activeLocal a {
    color: $mainFontColorHover !important;
    &:hover {
        color: $mainFontTitlesColor !important;
    }
}

.logo  {
    display: inline;
    height: 50px;
    position: absolute;
    margin: 0;
    top: 0%;
    right: 50%;
    
    & p  {
        font-family: $companyNameFont !important;
        font-size: 19px; 
        color: $MainTextFontColor;
        margin:0; 
    }
}

