/* form styles */ 

.local-input {
    background: #575151;
}

.name {
    margin: 40px 20px 0;
}

.name1 {
    width: 300px !important;
}

.email {
    width: 298px !important;
    float: left;
    display: inline-block;
}

.emailg {
     margin: 20px 20px;
}

.textArea {
     margin: 10px 20px;
}